:root {
    --yellow: #ffc600;
    --black: #272727;
}

html {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
p {
    font-size: 50px;
    border-bottom: 10px solid var(--yellow);
    color: #272727;
}

.container {
    display: grid;
    /* grid-template-columns: 200px 500px;
    grid-template-rows: 200px 100px 300px;
    grid-gap: 20px; */
}
.item {
    border: 1px solid red;
}